<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
<!-- H    E    A    D    E    R -->
    <header class="main-header">
      <div class="main-header-top-bar">
          <article class="div-logo">
             <img src="/images/logo-mercado-liebre.svg" class="logo">
              <div class="barra-busqueda">
             <input type="text" placeholder="Buscar producto, marcas..."><i class="fa-solid fa-magnifying-glass"></i>
          </div>
          </article>
          <h2 class="copy-header">
              <i class="fa-solid fa-hand-holding-dollar"></i>
              Comprá en cuotas y sin tarjeta de crédito</h2>
      </div>

      <a href="#" class="hamburguer-button">
          <i class="fa-solid fa-bars" ></i>
      </a>

      <nav class="main-navbar">
          <ul class="navbar left">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>

          <ul class="navbar right">
            <a href="/register">
              <li>
                Creá tu cuenta
                <i class="fa-solid fa-credit-card"></i>
              </li>
            </a>
            <a href="/login">
              <li>
                Ingresá
                <i class="fa-solid fa-sign-in-alt"></i>
              </li>
            </a>
            <a href="#">
              <li>
                Mis compras
                <i class="fa-solid fa-shopping-basket"></i>
              </li>
            </a>
          </ul>
       </nav>
   </header>
   <!-- B    A    N    N    E    R -->
    <img
      src="/images/img-home-banner.jpg"
      class="home-bannner"
      width="100%"
      alt="home-banner"
    />
<!-- M    A    I    N -->
    <main>
      <section class="ult-visita">
           <h3>Basado en tu ultima visita</h3>
          <div class="productos">
              <article class="cafetera">
                  <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <p class="precio">$6.770</p>
                      <p class="descuento">40% off</p>
                      <h4 class="descripcion">Cafetera Moulinex</h4>
                  </div>
              </article>
              <article article class="macbook">
                  <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <p class="precio">$230.000</p>
                      <p class="descuento">20% off</p>
                      <h4 class="descripcion">MacBook Pro 2019</h4>
                  </div>
              </article>
              <article article class="samsung-galaxy">
                  <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <p class="precio">$70.500</p>
                      <p class="descuento">10% off</p>
                  <h4 class="descripcion">Samsung Galaxy S10</h4>
                  </div>
              </article>
              <article article class="smart-tv">
                  <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <p class="precio">$23.200</p>
                      <p class="descuento">5% off</p>
                      <h4 class="descripcion">SmartTv Samsung 43"</h4>
                  </div>
              </article>
          </div>  
      </section>
      <section class="ofertas">
        <h3>Ofertas</h3>
        <div class="productos">
          <article class="cafetera">
              <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
              <div class="main-article">
                  <i class="fas fa-truck"></i>
                  <p class="precio">$6.770</p>
                  <p class="descuento">40% off</p>
                  <h4 class="descripcion">Cafetera Moulinex</h4>
              </div>
          </article>
          <article article class="macbook">
              <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
              <div class="main-article">
                  <i class="fas fa-truck"></i>
                  <p class="precio">$230.000</p>
                  <p class="descuento">20% off</p>
                  <h4 class="descripcion">MacBook Pro 2019</h4>
              </div>
          </article>
          <article article class="samsung-galaxy">
              <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
              <div class="main-article">
                  <i class="fas fa-truck"></i>
                  <p class="precio">$70.500</p>
                  <p class="descuento">10% off</p>
              <h4 class="descripcion">Samsung Galaxy S10</h4>
              </div>
          </article>
          <article article class="smart-tv">
              <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
              <div class="main-article">
                  <i class="fas fa-truck"></i>
                  <p class="precio">$23.200</p>
                  <p class="descuento">5% off</p>
                  <h4 class="descripcion">SmartTv Samsung 43"</h4>
              </div>
          </article>
      </div> 
      </section>
  </main>
<!-- F    O    O    T    E    R -->
    <footer>
      <article class="footer-conteiner">
        <div class="footer-conteiner-item">
          <div class="footer-icono">
            <i class="fa-solid fa-credit-card"></i>
          </div>
    
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
            en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
  
        <div class="footer-conteiner-item">
          <div class="footer-icono">
            <i class="fa-solid fa-gift"></i>
          </div>
    
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
            de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
  
        <div class="footer-conteiner-item">
          <div class="footer-icono">
            <i class="fa-solid fa-user-shield"></i>
          </div>
    
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </div>
        </article>

      <p class="last-p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>