<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"
          rel="stylesheet"
        />
        <script
          src="https://kit.fontawesome.com/0442526d0c.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet"
        />
        <title>Register</title>
        <link rel="stylesheet" href="/css/register.css" />
      </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <article class="div-logo-barra">
               <img src="/images/logo-mercado-liebre.svg" class="logo">
                <div class="barra-busqueda">
               <input type="text" placeholder="Buscar producto, marcas..."><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            </article>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
  
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
  
        <nav class="main-navbar">
            <ul class="left-navbar">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
  
            <ul class="left-navbar">
              <a href="/register">
                <li>
                  Creá tu cuenta<i class="fa-solid fa-credit-card"></i>
                </li>
              </a>
              <a href="/login">
                <li>
                  Ingresá<i class="fa-solid fa-sign-in-alt"></i>
                </li>
              </a>
              <a href="#">
                <li>
                  Mis compras<i class="fa-solid fa-shopping-basket"></i>
                </li>
              </a>
            </ul>
         </nav>
     </header>




     <main>
      <section class="form-section">
        <form action="/">
          <label class="form-item">Nombre y apellido</label>
  
          <input class="form-item" type="text" name="nombre-apellido" placeholder="escriba su nombre">

          <label class="form-item">Nombre de usuario</label>
  
          <input class="form-item" type="text" name="usuario" placeholder="nombre de usuario">

          <label class="form-item">Fecha de nacimiento</label>
  
          <input class="form-item" type="date" name="fecha">

          <label class="form-item">Perfil de usuario</label>

          <article class="form-item div-radio">
            <div>
              <input type="radio" name="perfil-usuario" value="comprar">comprar
            </div>
            <div>
              <input type="radio" name="perfil-usuario" value="vender">vender
            </div>
          </article>

          <label class="form-item">Categorías de interéss</label>

          
          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="electro">Electro
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="moda">Moda
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="hogar">Hogar
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="jugueteria">Jugueteria
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="vida-sana">Vida sana
          </div>

          <label class="form-item">Foto de usuario</label>
  
          <div class="form-item div-input-file">
            <input class="form-item" type="file" name="foto-usuario">
          </div>
  
          <label class="form-item">Contraseña</label>
  
          <input class="form-item" type="password" name="contraseña" placeholder="escriba su contraseña">

          <label class="form-item">Confirmar contraseña</label>
  
          <input class="form-item" type="password" name="contraseña-confirmada" placeholder="confirme su contraseña">
          
          <button type="submit" class="submit">Enviar
            <a href="/" class="form-item"></a>
          </button>

          <button type="reset" class="reset">Cancelar</button>
        </form>
      </section>
     </main>




     <footer>
      <article class="footer-conteiner">
        <div class="footer-conteiner-item">
          <div class="footer-icono">
            <i class="fa-solid fa-credit-card"></i>
          </div>
    
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
            en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
  
        <div class="footer-conteiner-item">
          <div class="footer-icono">
            <i class="fa-solid fa-gift"></i>
          </div>
    
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
            de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
  
        <div class="footer-conteiner-item">
          <div class="footer-icono">
            <i class="fa-solid fa-user-shield"></i>
          </div>
    
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </div>
        </article>

      <p class="last-p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>